<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="#"/>
  <title>ErrorPage</title>
  <link rel="stylesheet" href="../dist/scss/404Error.min.css" type="text/css">
</head>
<body>
  <div class="qt-error">
        <div class="error-box">
            <a href="https://www.baidu.com/" class="error-img" title="北航离散数学课程组">
                <img src="../dist/images/404new.png" alt="北航离散数学课程组">
            </a>
            <a href="https://www.baidu.com/" class="error-btn" title="北航离散数学课程组">
                返回首页
            </a>
        </div>
    </div>
</body>
</html>